# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Çevre Değişkenleri (ÇOK ÖNEMLİ)
.env

# IDE ve İşletim Sistemi
.vscode/
.idea/
.DS_Store

# Loglar ve Veritabanı
*.log
*.sqlite3*.egg-info/
*.egg-info/

data/mem0/
data/faiss_index/

node_modules/

.tmp_testdata/

pytest-cache-files*